*{
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

/* Header Section Css */
.hero{
  /* filter: brightness(50%); */
  background-image: url("./../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1024px;
}

.navbar{
  padding: 19px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  height: 30px;
  gap: 10px;
}

.navlink{
  color: #FCFCFC;
  text-decoration: none;
  font-size: 14px;
}

.end{
  background-color: #FCFCFC;
  padding: 10px 18px;
  border-radius: 12px;
  
}

.contact{
  border: none;
  background-color: #FCFCFC;
}

.banner{
  height: 900px;
  display: grid;
  grid-template-columns: 930px 212px;
  gap: 12px;
  /* padding: 8px; */
  align-items: end;
  margin: 0 78px;
}

.hero-section-1{
  display: flex;
  align-items: end;
  /* width: 700px; */
  height: 228px;
}

.b-1-1{
  /* display: flex; */
  justify-content: center;
  align-items: end;
}

.hero-text{
  font-size: 85px;
  color: #FCFCFC;
  line-height: 114.4px;
  margin: -10px 0;
}

.hero-section-2{
  /* height: 460px; */
  -webkit-backdrop-filter: blur(5px);

  backdrop-filter: blur(5px);
  border: 1px solid gray;
  border-radius: 12px;
  padding: 8px;
  /* gap: 12px; */
}

/* Header css ends here */


/* Main section css starts */

/* commitment section */
.commitment{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 80px;
}

.commitment-1{
  font-size: 35px;
  font-weight: 400;
}

.commitment-button{
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  background-color: black;
  color: #FCFCFC;
}

.commitment-text{
  color: #70707B;
  font-size: 14px;
  line-height: 1.5;
}

/* property section starts */
.property {
  height: 626px;
  /* width: 100vw; */
  display: grid;
  grid-template-columns: 26% 32% 42%;
  justify-content: center;
  gap: 24px;
  padding: 0 80px;
}

.property-card{
  line-height: 1.8;
}

.property-text{
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  
}

.property-text-p{
  color: #70707B;
  
}

.property-card img {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

.cus{
  display: flex;
  align-items: center;
}


/* Property Listing card */

.property-listing{
  padding: 80px;
}

.listing-head{
  display: grid;
  grid-template-columns: 54% 46%;
  /* margin-bottom: 40px; */
}

  .left-head{
    display: flex;
    align-items: center;
  }

    .left-head-text{
      font-size: 35px;
      font-weight: 400;
    }

  .right-head{

  }

    .right-head-text{
      font-size: 14px;
    }

.main-card{
  padding-top: 56px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-items: center;
  gap: 24px;
}


.card{
  position: relative;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image{
  width: 100%;
}

.tags {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 8px; 
}

.tag {
  background-color: #000;
  color: #fff; 
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 20px; 
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag > img{
  margin-right: 8px;
}

.card-content {
  display: grid;
  grid-template-columns: 60% 40%;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.card-first{
  padding: 8px 0;
}

  .location{
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

    .card-description{
      font-size: 10px;
      color: #70707B;
    }

  .card-second{
    display: flex;
    justify-content: end;
    align-items: center;
  }


.card-footer{
  padding-top: 8px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 8 px;
  justify-content: center;
  align-items: center;
}

  .bathroom, .bedroom, .area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
  }

  .bedroom{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-right-style: ;
  }

  .footer-text{
    color: #70707B;
  }

.more{
  margin-top: 50px;
  width: 128px;
  cursor: pointer;
}

/* property listing ends */


/* Frequently asked question */

.frequent{
  padding: 80px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;

}
  .fre-title{
    font-size: 56px;
    font-weight: 400;
  }

  .fre-description{
    margin: 15px 0 56px 0;
    color: #70707B;
  }

  .fre-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 16px;
    color: #70707B;
  }

.fre-two{
  background-color: #FAFAFA;
}

  .fre-ex{
    color : #18181B;
    font-weight: 700;
  }

  .fre-des{
    color: #18181B;
    font-weight: 400;
    padding: 16px;
  }


  /* Real Estate tips and insights */
  .tips{
    margin-top: 20px;
    padding: 80px;
  }

    .tips-head{
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
    }

    .tips-body{
      margin: 25px 8px;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      gap: 16px;
      justify-content: center;
      align-items: center;
    }

    .tips-card{
      height: 531px;
    }

    .tips-card > img{
      width: 100%;
      
    }

    .tips-des{
      display: flex;
      align-items: center;
      justify-content: start;
      color: #70707B;
      margin: 8px 0;
    }

    .tips-clock{
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    .clock{
      margin-left: 5px;
    }

    .tips-card > p{
      font-size: 24px;
    }

    .tips-footer{
      /* margin: 10px 0; */
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: space-between;
      gap: 10px;
    }

      .ellipse, .next{
        display: flex;
        gap: 6px;
        align-items: center;
        
      }

      .tips-footer img{
        cursor: pointer;
      }

      .next{
        justify-content: end;
      }


/* contact section */
.contact-section{
  /* margin-top: 20px; */
  background-image: url("./../images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  border-radius: 26px;
  height: 600px;
  display: grid;
  grid-template-columns: 60% 40%;
}

  .contact-one{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-card{
    padding: 35px;
  }

  .contact-title{
    font-size: 50px;
    color: #FCFCFC;
    
  }

  .contact-card > p{
    margin-top: 12px;
    color: #FCFCFC;
  }

  .contact-two{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-two-card{
    padding: 24px;
    border-radius: 20px;
    background-color: #FAFAFA;
    height: 410px;
    width: 100%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
  }

#fname, #email, #description{
  width: 95%;
  padding: 8px;
  margin: 5px 0;
}

.send{
  width: 100%;
}



/* Footer css */
.footer{
  margin-top: 30px;
  background-color: black;
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 80px;
  gap: 16px;
  
}

  .footer-one-text{
    color:#FCFCFC;
    font-size: 32px;
    font-weight: 400;

  }

  .footer-one-card{
    display: grid;
    grid-template-columns: 20% 20% 40%;
    gap: 12px;

  }

  .fcard{
    color: #70707B;
  }

  .footer-small{
    padding: 20px 0 10px 0;
  }

.footer-two{
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 38px;
}

.navigation, .follow{
  color: #70707B
}

.footer-navigation{
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 6px;
}

.home, .faqs{
  margin-top: 10px;
  line-height: 1.9;
}

.home > a{
  color: #FAFAFA;
  text-decoration: none;
}
.faqs > a{
  color: #FAFAFA;
  text-decoration: none;
}